#top{
    text-align: center;
}


.navigation a {
    color: black;
    padding: 20px;
    padding-bottom: 20px;
}

.navigation a:hover {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

.Unterzahl-alt{
    text-align: center;
    padding: 20px;
    background-color: white;
    font-size: large;
    color: black;

}

.Unterzahl-alt a:hover{
    text-align: center;
    padding: 20px;
    background-color: white;
    font-size: 30px;
    color: red;

}